body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    height: 50px;
    background-image: url("edu\ \(3\).png");
    width: 200px;
    display: flex;
    background-size: cover;
    box-shadow: rgb(248, 248, 248) 2px 2px 2px ;
  }
  button{
    height: 35px;
    width: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
  }
  a{
    text-decoration: none;
    
  }
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    color: #f00;
  }
  

  .container-2 {
    width: 100%;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    /* height: 30vh; */
}
.hero-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero-split {
  max-width: 46%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.margin-bottom-24px {
  margin-bottom: 24px;
}

.shadow-two {
  box-shadow: 0 4px 24px rgba(150, 163, 181, .08);
}

.hero-split img{
  padding-top: 30px;
}
.hero-split a{
  border: 1px solid black;
  height: 35px;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: center;
}
.gallery{
  height: 20vw;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.growth ul{
  padding-top: 20px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  size: 40px;
  font-weight: bold;
}
.prom{
  padding-bottom: 20px;
}
footer{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px;
  bottom: 0;
  width: 100%;
  margin: auto;
}
.footer-dark {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 50px 30px 15px;
  position: relative;
}

.footer-wrapper {
  max-width: 900px;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.footer-link {
  color: #1a1b1f;
  margin-top: 12px;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.footer-link:hover {
  color: rgba(26, 27, 31, .75);
}

.footer-social-block {
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-left: -12px;
  display: flex;
}

.footer-social-link {
  margin-left: 12px;
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #e4ebf3;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}
.features-metrics {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 60px 30px;
  position: relative;
}

.features-wrapper {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.features-block {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.features-title {
  margin-bottom: 8px;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}

.features-title-small {
  font-size: 24px;
  line-height: 32px;
}



